body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1136px;
}
nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1136px;
  height: 65px;
  background-color: white;
  z-index: 1;
}

.nav-l {
  flex: 1;
  display: flex;
  align-items: center;
}
.nav-m {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-m p {
  padding: 18px;
}
.nav-r {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-btn-r {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 94px;
  height: 46px;
  border-radius: 23px;
}
.nav-btn-r:hover {
  background-color: rgba(128, 128, 128, 0.096);
}
.nav-btn-l {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 42px;
  color: white;
  background-color: black;
  border-radius: 21px;
}
.nav-btn-l:hover {
  background-color: rgba(0, 0, 0, 0.865);
}
.heading {
  margin-top: 60px;
  width: 1136px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading h1 {
  font-size: 54px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 700px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.item img {
  padding-right: 6px;
}
.banner {
  position: relative;
  width: 1136px;
  border-radius: 20px;
  background: rgb(212, 223, 247);
  background: linear-gradient(
    90deg,
    rgba(212, 223, 247, 1) 0%,
    rgba(221, 200, 255, 1) 100%
  );
  height: 460px;
  overflow: hidden;
}
.ban-cont {
  width: 408px;
  position: absolute;
  left: 200px;
  top: 100px;
}
.ban-cont span {
  background-color: white;
  margin-left: 3px;
  border-radius: 3px;
  padding: 5px;
  color: black;
}
.ban-cont p {
  font-size: 12px;
  line-height: 0px;
  padding-bottom: 10px;
}
.ban-cont h1 {
  font-size: 56px;
  padding: 0%;
  margin: 0%;
  line-height: 50px;
}
.ban-cont h2 {
  font-size: 24px;
  margin-top: 0%;
  padding-top: 0%;
}
.banner img {
  position: absolute;
  width: 1200px;
  top: -20px;
  left: -60px;
}
.banner-btn {
  background-color: #52327c;
  width: 200px;
  height: 48px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.banner-btn img {
  position: relative;
  left: -6px;
  top: -2px;
  width: 12px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 774px;
  height: 56px;
  background-color: white;
  border-radius: 28px;
  border: 1px solid grey;
  margin-bottom: 60px;
}
.search-btn {
  width: 90px;
  height: 45px;
  border-radius: 22px;
  background-color: #36e0a1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  font-size: 15px;
  height: 50px;
  width: 600px;
  border: none;
}
textarea:focus,
input:focus {
  outline: none;
}
section {
  width: 1136px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.place-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1136px;
}

.place-item1 {
  background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/79/01/88/caption.jpg?w=600&h=-1&s=1);
}
.place-item2 {
  background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/79/01/c6/caption.jpg?w=600&h=-1&s=1);
}
.place-item3 {
  background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/79/01/fd/caption.jpg?w=600&h=-1&s=1);
}
.place-item4 {
  background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/79/02/1d/caption.jpg?w=600&h=-1&s=1);
}
.place-card-items {
  width: 270px;
  height: 270px;
  border-radius: 8px;
  color: white;
  display: flex;
  align-items: end;
  background-size: contain;
  object-fit: cover;
  object-position: center;
}
.place-card-items:hover {
  opacity: 0.9;
}
.place-it1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.632), rgba(255, 0, 149, 0)),
    url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/33/f7/12/caption.jpg?w=600&h=600&s=1);
}
.place-it2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.914), rgba(255, 0, 149, 0)),
    url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/4b/5d/c8/caption.jpg?w=600&h=600&s=1&cx=2606&cy=1838&chk=v1_a61182fd4040ed4ecc4e);
}
.place-it3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.596), rgba(255, 0, 149, 0)),
    url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/33/f1/0b/caption.jpg?w=600&h=600&s=1);
}
.place-it4 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.598), rgba(255, 0, 149, 0)),
    url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2a/c7/90/94/caption.jpg?w=600&h=600&s=1);
}
.place-card-items h1 {
  padding-left: 10px;
}
.recent {
  width: 1136px;
}
.loc {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 180px;
  height: 73px;
  border: 2px solid rgba(128, 128, 128, 0.509);
  border-radius: 10px;
}
.loc-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 110px;
}
.loc h1 {
  font-size: 16px;
  margin-left: -15px;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.loc p {
  font-size: 12px;
  margin-top: 0%;
  padding-top: 0%;
}
.card-item {
  border-radius: 8px;
  height: 270px;
  width: 270px;
  background-size: cover;
  object-fit: cover;
  object-position: center;
}
.card-item:hover {
  opacity: 0.9;
}
.i1 {
  background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2a/63/14/c1/caption.jpg?w=600&h=600&s=1);
}
.i2 {
  background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2a/61/53/05/caption.jpg?w=600&h=600&s=1);
}
.i3 {
  background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/6c/27/12/caption.jpg?w=600&h=600&s=1);
}
.i4 {
  background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/27/d9/d8/e2/caption.jpg?w=600&h=600&s=1);
}
.rev-card h1 {
  font-size: 18px;
  width: 270px;
}
.rev-card p {
  padding-left: 2px;
}
.review-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1136px;
}
.explore {
  width: 1710px;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #faf1ed;
  height: 445px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.exp-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1136px;
}
.exp {
  width: 365px;
  height: 232px;
  background-size: cover;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.exp-item h1 {
  font-size: 18px;
  width: 365px;
}
.exp:hover {
  opacity: 0.9;
}
.ex1 {
  background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/2c/ba/10/2e672789-cb71-4baf.jpg?w=800&h=-1&s=1);
}
.ex2 {
  background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2a/fc/fd/91/f173f106-9fa1-40bf.jpg?w=800&h=-1&s=1);
}
.ex3 {
  background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2a/d2/cf/57/e4ccbb16-a0ad-48a8.jpg?w=800&h=500&s=1);
}
.travel {
  background-color: #fff6e0;
  height: 600px;
  margin-bottom: 60px;
  margin-top: 60px;
  width: 1710px;
}
footer {
  margin-top: 60px;
  position: relative;
  height: 372px;
  width: 1710px;
  background-color: #faf1ed;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ds {
  display: flex;
  width: 1136px;
  align-items: flex-start;
  justify-content: space-between;
}
.d1 {
  flex: 1;
}
.d2 {
  flex: 1;
}
.d3 {
  flex: 1;
}
.d4 {
  flex: 2;
}
.foot-b {
  width: 1136px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f-u {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-l {
  flex: 2;
}
.f-r {
  flex: 1;
}
.drop {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.inr {
  width: 140px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid grey;
}
.ind {
  width: 140px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid grey;
}
.ico {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 180px;
}
.l-d p {
  font-size: 12px;
  color: #333333;
}
.tx-h1 h1 {
  font-size: 16px;
  text-decoration: underline;
  margin: 0%;
  padding: 0%;
}
.tx-h1 {
  width: 696px;
  display: flex;
}
.tx-h1 p {
  font-size: 12px;
  margin: 0%;
  padding: 0%;
}
.da p {
  font-size: 14px;

  margin: 0%;
  padding: 0%;
}
.d1 {
  margin: 0%;
  padding: 0%;

  line-height: 10px;
}
.d2 {
  line-height: 10px;
}
.d3 {
  line-height: 10px;
}
.sub {
  margin-top: 40px;
  margin-bottom: 30px;
  height: 186px;
  width: 1136px;
  border-radius: 10px;
  background-color: #eafaf4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.s1 img {
  height: 160px;
  width: 160px;
  border-radius: 7px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
